# OS files
.DS_Store
Thumbs.db

# Java / Maven
target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war
*.ear
*.log

# Python
venv/
.venv/
env/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# ML Models (Optional: keep if small, ignore if large)
# xgboost_model.pkl

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Docker
.docker/
